<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
        <i class="nav-icon far fa-envelope"></i>
        <p>
            Mesajlar
            <i class="fas fa-angle-left right"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="/Contact/Inbox/" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Gelen Mailler</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Contact/Sendbox/" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Gönderilen Mailler</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Contact/Index/" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Tüm Mailler</p>
            </a>
        </li>
    </ul>


    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="/Contact/NewMessage/" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Mesaj Oluştur</p>
            </a>
        </li>
    </ul>

    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="/Login/Index/" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Login</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/AdminLTE-3.0.4/pages/examples/register.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Register</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/AdminLTE-3.0.4/pages/examples/forgot-password.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Forgot Password</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/AdminLTE-3.0.4/pages/examples/recover-password.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Recover Password</p>
            </a>
        </li>

    </ul>
</li>